{% extends 'base1.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Live Resume :: Home</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/vendors/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="live-resume.css">
</head>
<main>
<section class="resume-section">
    <div class="row">
        <div class="col-lg-6">
            <h6 class="section-subtitle">Parcours d'éducation</h6>
            <h2 class="section-title">Etudes</h2>
            <ul class="time-line">
                <li class="time-line-item">
                    <span class="date-head badge badge-primary">2020-2021</span>
                    <h6 class="cv-header time-line-item-title">Bac mathématiques </h6>
                    <p class=" level-header time-line-item-subtitle">Lycée pilote de kef<br><br></p>
                    <p class="time-line-item-content"></p></p>
                </li>
                <li class="time-line-item">
                    <span class="date-head badge badge-primary">2021-2022</span>
                    <h6 class="cv-header time-line-item-title">Bachelor universitaire de technologie</h6>
                    <p class=" level-header time-line-item-subtitle">Iut de Roanne</p>
                    <p class="time-line-item-content">
                    </p>
                </li>
                <li class="time-line-item">
                    <span class=" date-head badge badge-primary">1993 - 1995</span>
                    <h6 class="cv-header time-line-item-title">Studied at Roanne University</h6>
                    <p class="time-line-item-subtitle"></p>
                    <p class="time-line-item-content">r.
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h6  class="section-subtitle">Compétences professionnelles</h6>
            <h2 class="section-title">Mes compétences</h2>
            <ul class="time-line">
                <li class="time-line-item">
                    <span class="date-head badge badge-primary">Programmer</span>
                    <h6 class="cv-header time-line-item-title">Créer des outils et applications informatiques</h6>
                    <p class="level-header time-line-item-subtitle">level: 55%</p>
                    <p style="font-weight:bold" class="high-header time-line-item-content">Pour cette compétence je peux utiliser un système informatique et ses outils , faire des programmes dans un langage et pour un environement donné (langage c et python).</p>
                </li>
                <li class="time-line-item">
                    <span class="date-head badge badge-primary">Administer</span>
                    <h6 class="cv-header time-line-item-title">Administrer les réseaux et internet</h6>
                    <p class="level-header time-line-item-subtitle">level: 70%</p>
                    <p style="font-weight:bold" class="high-header time-line-item-content">je peux administrer  de serveurs physiques et virtualisés dans un environnement Vmware Linux et Windows. Travaillant également sur la gestion Active directory et Microsoft Échange.aussi l'installation et configuration d’équipements réseau tel que des commutateurs, des routeurs pour mettre à jour ou résoudre des problèmes au niveau d'un LAN  
                    </p>
                </li>
                <li class="time-line-item">
                    <span class="date-head badge badge-primary">Connecter</span>
                    <h6 class="cv-header time-line-item-title">Connecter les entreprises et les usagers</h6>
                    <p class="level-header time-line-item-subtitle">level: 60%</p>
                    <p style="font-weight:bold" class=" high-header time-line-item-content">Je mesurais et analysais des signaux
                        Caractériser des systèmes de transmission élémentaires et en plus
                        Déployer des supports de transmission je reussi à réaliser la soudure des fibres optiques 
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <form action="CVmouadh.pdf" method="get" target="_blank" rel="noopener noreferrer">

        <label class="font" for="fname">Nom :</label><br>
        <input class="form-input" type="text" id="fname" name="fname" required><br>
        <label class="font" for="lname">Prénom :</label><br>
        <input class="form-input" type="text" id="lname" name="lname" required><br>
        <label class="font" for="mail">Mail :</label><br>


        <input class="form-input" type="text" id="mail" name="mail" required><br>
        <input class="fontr" type="submit" value="Download CV">
    </form>
</section>


</main>
</div>



{% endblock %}
