<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Guizani Portfolio Website</title>
        <link rel="test" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />  

        <!-- Update these with your own fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Roboto+Slab:400,700&display=swap" rel="stylesheet"> 
        
        <link rel="stylesheet" href="style.css">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="guizani.JPG" alt="">
            </div>
            <button class="nav-toggle" aria-label="toggle navigation">
                <span class="hamburger"></span>
            </button>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/#home" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="/#services" class="nav__link">My Services</a></li>
                    <li class="nav__item"><a href="/#about" class="nav__link">About me</a></li>
                    <li class="nav__item"><a href="/#work" class="nav__link">INTERESTS</a></li>
                    <li class="nav__item"><a href="/cv" class="nav__link">CV et compétences professionnels</a></li>

                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <!-- Footer -->
        <footer class="footer">
    
            <a href="mailto:ahmed.mouadh.guizani@etu.univ-st-etienne" class="footer__link">ahmed.mouadh.guizani@etu.univ-st-etienne</a>
            <ul class="social-list">
                <li class="social-list__item"><a class="social-list__link" href="https://codepen.io"><i class="fab fa-linkedin"></i></a></li>
                
                
                <li class="social-list__item"><a class="social-list__link" href="http://dribbble.com"><i class="fab fa-instagram"></i></a></li>
                
                <li class="social-list__item"><a class="social-list__link" href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                <li class="social-list__item"><a class="social-list__link" href="https://github.com"><i class="fab fa-github"></i></a></li>
            </ul>
        </footer>
        <script src="index.js"></script>

    </body>
</html>
 
